* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.cruds-container {
  width: 80%;
  margin: auto;
}
.cruds-container .cruds-header {
  text-align: center;
  margin: 10px 0;
}
.cruds-container .cruds-header h2 {
  text-transform: uppercase;
}
.cruds-container .cruds-header p {
  text-transform: uppercase;
}
.cruds-container .cruds-inputs input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  margin: 4px 0;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cruds-container .cruds-inputs input:focus {
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.cruds-container .cruds-inputs .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cruds-container .cruds-inputs .price input {
  width: 19%;
}
.cruds-container .cruds-inputs .price .total {
  background-color: #a00d02;
  padding: 5px 2px;
  border-radius: 5px;
}
.cruds-container .cruds-inputs .price .total::before {
  content: "Total : ";
}
.cruds-container .cruds-inputs button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  font-size: 22px;
  margin: 5px 0;
  background-color: #607d8b;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cruds-container .cruds-inputs button:hover {
  background-color: #265c77;
  letter-spacing: 2px;
}
.cruds-container .cruds-outputs input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #111;
  margin: 4px 0;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cruds-container .cruds-outputs input:focus {
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.cruds-container .cruds-outputs .search-container .btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cruds-container .cruds-outputs .search-container .btn-search button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  font-size: 22px;
  margin: 5px 0;
  background-color: #607d8b;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cruds-container .cruds-outputs .search-container .btn-search button:hover {
  background-color: #265c77;
  letter-spacing: 2px;
}
.cruds-container .cruds-outputs .search-container .btn-search button {
  width: 45%;
}
.cruds-container .cruds-outputs table {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
}
.cruds-container .cruds-outputs table th {
  text-transform: uppercase;
}
.cruds-container .cruds-outputs table tbody tr button {
  border: 0;
  outline: 0;
  padding: 5px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cruds-container .cruds-outputs table tbody tr button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  letter-spacing: 0.5px;
}
.cruds-container .cruds-outputs table tbody tr button.update {
  background-color: rgb(13, 96, 13);
}
.cruds-container .cruds-outputs table tbody tr button.delete {
  background-color: #a00d02;
}