* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
}

@mixin inputstyle {
    input {
            width: 100%;
            height: 30px;
            outline: none;
            border: none;
            background-color: #111;
            margin: 4px 0 ;
            padding:5px;
            border-radius: 4px;
            color:#fff;
            transition: 0.5s;
            &:focus {
                background-color: #000;
                transform: scale(1.1);
            }
        }
}

@mixin buttonStyle {
    button {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                outline:0;
                border: 0;
                font-size: 22px;
                margin:5px 0;
                background-color: #607d8b;
                color:#fff;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background-color: #265c77;
                    letter-spacing: 2px;
                }
            }
}

.cruds-container {
    width: 80%;
    margin:auto;

    .cruds-header {
        text-align: center;
        margin:10px 0;
        
        h2 {
            text-transform: uppercase;
        }

        p {
            text-transform: uppercase;
        }
    }

    .cruds-inputs {
        
       

        @include inputstyle();
        
            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    width: 19%;
                }
                .total {
                    
                    background-color: #a00d02;
                    padding:5px 2px;
                    border-radius: 5px;

                    &::before {
                        content:"Total : "
                    }
                }
            }
            
            @include buttonStyle();
    }

    .cruds-outputs {
        @include inputstyle();

        .search-container{
            .btn-search {
                display: flex;
                justify-content: space-between;
                @include buttonStyle();
                button {
                    width: 45%;
                }
            }
        }
        div.delete-all {
                width: 100%;
                @include buttonStyle();
            }

        table {

            

            width: 100%;
            text-align: center;
            margin: 5px 0;
            padding: 5px;
            th {
                text-transform: uppercase;
            }

            tbody {
                padding-top: 20px;
                tr {
                    button {
                        border:0;
                        outline: 0;
                        padding: 5px;
                        color:#fff;
                        border-radius: 6px;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.03);
                            letter-spacing: 0.5px;
                        }
                    }
                    button.update{
                        background-color: rgb(13, 96, 13);
                    }
                    button.delete {
                        background-color: #a00d02;
                    }
                }
            }
        }
    }
}



//! Media queries

@media only screen  and (width < 700px) {
    .cruds-container {
        width: 100%;
        margin: 0;

       
        .btn-search {
            display: flex;
            flex-direction: column;

            button {
                width: 100vw !important;
            }
        }

        .table {
            width: 100vw;
            margin: 0;
            overflow-x: scroll;
        }
    }
}


@media only screen and (width < 350px) {
    .price {
        display: flex;
        flex-direction: column;

        input {
            width: 100% !important;
            margin-bottom: 10px;
        }
        .total {
            margin-right: auto;
            margin-bottom: 10px;
        }
    }
}